.conteiner_logo{
    width: 100%;
    background-color: white;
    padding-top: 3px;
    

}
.logo{
    vertical-align: middle;
}
.logo_text{
    display:inline-block;
    font-size: 40px;
    vertical-align: middle;
    
}
body{
    background: rgb(241, 241, 241);
    margin: 0px;
}

.conteiner1{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    

}

.button{
    
    font-size: 10px;
    padding: 8px 9px;
}

#button1{
    border:1px solid deepskyblue ;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    
}
#button2{
    color: rgb(156, 156, 156);
    border: 1px solid  rgb(156,156,156) ;
    border-radius: 5px;
    background-color: white;

}
.conteiner2{
    width: 60%;
    margin: 0 auto;
    margin-top: 3px;
    background-color: white;
    padding:10px;
    

}
.speciale{
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
}

#editorial,#editorial1,#editorial2{
    background-color: dodgerblue;

}
#q1_goals{
    background-color:slateblue;
}
#recruiting{
    background-color:mediumaquamarine;

}
#mobile{
    background-color: orange;
}
#website{
    background-color: orchid;
}
#sales{
    background-color: yellowgreen;
}
h2{
    margin-bottom: 5px;

}
.row{
    margin-bottom: 5px;
    
}
