.conteiner_logo{
    height: 60px;
    width: 100%;
    background-color: white;
    

}
.logo{
    vertical-align: bottom;

}
.logo_text{
    font-size: 40px;
}
body{
    background: lightgrey;
    margin: 0px;
}